body {
    background: #2c2c2c;
    color: #00dae8;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}
.insertedImage {
    width: 100px;
    height: 100px;
    position: absolute;
    align-self: center;
    top: 50px;
    right: 0;
    border: 2px solid #00d9e895;
    border-radius: 8px;
}
::-webkit-scrollbar {
    display: none;
}
#popcontact {
    padding: 10px;
    display: none;
    background: rgb(0, 186, 0);
    border-radius: 5px;
    color: #cecece;
    position: absolute;
    z-index: 2;
    top: 70px;
    right: 45%;
    color: #000;
    font-weight: 400;
    -webkit-animation: bounce-in-fwd 0.4s both;
    animation: bounce-in-fwd 0.5s both;
}
#donepop {
    background: #04a804;
    padding: 10px;
    width: 180px;
    border-radius: 8px;
    font-weight: 500;
    position: absolute;
    left: 43%;
    display: none;
    top: 30px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/*----------------------------------------Dashboard Navbar--------------------------------------------------------------------------------*/

nav {
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
}
nav button {
    background: #d00;
    color: #cecece;
    border: none;
    outline: none;
    padding: 10px;
    cursor: pointer;
}
.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
}
.logo img {
    height: 30px;
}
.links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 200px;
}
.links a {
    text-decoration: none;
    color: #00dae8;
    font-weight: 400;
    text-align: center;
}
.dp img{
    height: 30px;
    border-radius: 50%;
    border: 1px solid #00d9e896;
}
/*---------------------------------left Navbar------------------*/
.dash-container {
    display: flex;
}
#dash-nav {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    left: 0px;
    width: 150px;
    height: 600px;
    border-right: 2px solid #00dae8;
    margin-top: 47.36px;
    animation: slideInFromLeft .8s ease-in-out;
}
#dash-nav a {
    text-decoration: none;
    color: #00dae8;
    font-weight: 400;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    transition: .5s;    
}
#dash-nav a:hover {
    color: #00dae8;
    background: #000000;
}
nav span {
    width: 30px;
    height: 30px;
    font-size: larger;
    background: #2c2c2c;
    color: #00dae8;
    text-align: center;
    font-weight: 700;
    padding: 5px;
    align-items: center;
    left: 0px;
    display: none;
    cursor: pointer;
}
nav span img {
    width: 30px;
}
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

/*-------------------------Dashboard--------------------------*/
.dashboard {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}
.dash-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:  80%;
    height: 500px;
    align-items: center;
    margin-top: 100px;
    margin-right: 20px;
}
.dash-box-up {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.box {
    box-shadow: 8px 8px 20px 5px rgba(0, 0, 0, 0.25);
}
.centered {
    height: 100px;
    width: 100px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    background: #05092E;
}
.centered img {
    height: 60px;
}
.dash-box-down {
    background: #05092E;
    box-shadow: 8px 8px 20px 5px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 400px;
    margin-top: 10px;
}
.created {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.created .title1 {
    width: 100%;
    font-size: 28px;
    padding: 5px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
    align-items: center;
}
.created .title1 button {
    background: #d00 ;
    color: #cecece;
    padding: 10px;
    margin-left: 20px;
    border: none;
    outline: none;
    cursor: pointer;
}
.items {
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll;
}

.item {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #02041E;
    border-radius: 10px;
    margin-bottom: 10px;
}
.img img {
    width: 200px;
    height: 100%;
}
.words {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.words .title {
    width: 95%;
    font-size: 15px;
    margin-top: 5px;
    font-weight: 600;
}
.words p {
    color: #fff;
    text-align: start;
    width: 90%;
    margin-left: 5px;
    text-overflow: ellipsis;
    height: 100px;
    overflow-y: scroll;
    
}
.date {
    width: 100%;
    text-align: end;
    margin-right: 10px;
    font-size: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
}
.date button {
    margin: 0 10px;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    cursor: pointer;
    border: none;
    outline: none;
    transition: .3s;
}
.date button:hover {
    background: #d00000;
}


/*-------------------Add New Blog------------------------------*/
.new {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
}
.new-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 550px;
    background: #05092E;
    box-shadow: 8px 8px 20px 5px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    margin-top: 50px;
}
.new-box form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-left: 20px;
    height: 100%;
}
.new-box  .title {
    font-size: 25px;
    font-weight: 500;
    margin-top: 20px;
}
.new-box  .title button {
    font-size: 20px;
    background: #d00000;
    color: #cecece;
    padding: 5px;
    cursor: pointer;
}


.new-box form label {
    color: #cecece;
    margin-top: 20px;
    width: 90%;
    text-align: start;
}
.new-box form input,.new-box form textarea {
    width: 90%;
    background: #02041E;
    color: #00dae8;
    font-size: 20px;
    outline: none;
    border: none;
    padding: 5px;
}
.new-box form button {
    padding: 10px;
    margin: 10px 0;
    background: #00dae8;
    color: #000;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .8s;
}
.new-box form button:hover {
    scale: 1.1;
}
/*---------Messages---------------------------------*/

.messages {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.msg-box {
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #02041E;
    padding: 10px;
    height: 500px;
    box-shadow: 8px 8px 20px 5px rgba(0, 0, 0, 0.25);
    margin-top: 100px;
    margin-bottom: 30px;
    right: 0;
}
.msg-box .title {
    width: 100%;
    text-align: center;
    font-size: 22px;
    color: #fff;
    margin-bottom: 10px;
}
.msg-box .title button {
    padding: 5px;
    background: #d00000;
    color: #fff;
    border: none;
    outline: none;
}

.msg-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}
.msg {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    background: #05092E;
    cursor: pointer;
    border-radius: 5px;
    transition: .8s;
}
.msg:hover {
    background: rgb(0, 0, 0);
}
.msg .msg-icon {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    border-right: 1px solid #00dae8;
}
.msg .msg-icon img{
    width: 30px;
    margin-left: 10px;
}

.msg .name {
    color: #fff;
    font-weight: 600;
    text-align: start;
    align-items: center;
    text-transform: capitalize;
    width: 50%;
    margin-left: 10px;
}
.msg .content {
    height: 50px;
    text-overflow: ellipsis;
    overflow-y: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    border-left: 1px solid #00dae8;
    border-right: 1px solid #00dae8;
    padding: 5px;
}
.msg .ops {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}
.msg .ops button {
    border: none;
    padding: 5px;
    border-radius: 5px;
    background: none;
    cursor: pointer;
    transition: .8s;
}
.msg .ops button:hover {
    background: #2c2c2c;
}
.msg .ops button:nth-child(2):hover {
    background: rgb(167, 0, 0);
}
.msg .ops button img {
    width: 30px;
}

/*---------------------------Settings---------------------------------------*/
.settings {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
}
.settings-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    margin-top: 80px;
}
.set-box {
    padding: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: #02041E;
    border-radius: 8px;
    cursor: pointer;
    transition: .6s;
    font-weight: 500;
}
.set-box img {
    width: 90px;
}
.set-box:hover {
    background: #00dae8;
    color: #02041E;
}


/*-------------------------Responsiveness----------------------------*/
@media screen and (max-width: 1190px) {
    .messages {
        justify-content: end;
    }
}
@media screen and (max-width: 800px) {
    nav span{
        display: block;
    }
    .msg-box {
        width: 95%;
    }
    
    #dash-nav{
        display: none;
        background: #2c2c2c;
        border-right: none;
        width: 150px;
        height: 100%;
        border: 1px solid #000;
        position: fixed;
        top: 0;
        margin-top: 40px;
    }
    .dash-box {
        margin-top: 100px;
    }
    .msg-container {
        display: grid;
        grid-template-columns: auto auto auto;
        align-content: center;
        gap: 10px;
        margin: 0;
        margin-top: 20px;
        padding: 20px;
        width: 80%;
        overflow-y: hidden;
    }
    .msg {
        flex-direction: column;
        height: auto;
        width: 170px;
    }
    .msg .name {
        width: 100%;
        text-align: center;
        margin-left: 0;
        margin-top: 10px;
    }
    
    .msg .ops {
        width: 100%;
        margin-top: 10px;
    }
    .msg .msg-icon {
        border: none;
    }
    .msg .content {
        height: 50px;
        width: 100%;
        margin-top: 10px;
        border: none;
        justify-content: center;
    }

}
@media screen and (max-width: 700px) {
    .dash-box-up {
        flex-direction: row;
        height: auto;
    }
    .logo img{
        margin-left: 15px;
    }
    .box {
        margin-top: 50px;
    }
    .centered img {
        display: none;
    }
    .centered {
        padding: 0px;
        height: auto;
    }
    .dash-box {
        height: auto;
        width: 90%;
    }
    .dashboard {
        height: auto;
    }
    .item {
        flex-direction: column;
    }
    .item img {
        width: 100%;
    }
    .dash-box-down {
        height: auto;
    }
    .created {
        height: 600px;
    }
    .settings-container {
        grid-template-columns: auto auto;
    }
}
@media screen and (max-width: 400px) {
    
    .created {
        width: 100%;
        height: 600px;
    }
    .dash-box-down {
        width: 100%;
    }
    .logo {
        display: none;
    }


}

/*keyframes*/
@-webkit-keyframes bounce-in-fwd {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: scale(0.7);
              transform: scale(0.7);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: scale(0.84);
              transform: scale(0.84);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    89% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: scale(0.95);
              transform: scale(0.95);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes bounce-in-fwd {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: scale(0.7);
              transform: scale(0.7);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: scale(0.84);
              transform: scale(0.84);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    89% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: scale(0.95);
              transform: scale(0.95);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }