body {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
::-webkit-scrollbar {
    display: none;
}

#popcontact {
    padding: 10px;
    display: none;
    background: rgb(0, 186, 0);
    border-radius: 5px;
    z-index: 6;
    top: 50%;
    right: 45%;
    color: #000;
    font-weight: 400;
}
.blog-article {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #fff;
    min-height: 700px;
}
.blog-title {
    font-weight: 700;
    color: #00DAE8;
    width: 80%;
    font-size: 23px;
    text-align: center;
    margin-top: 20px;
}
.blog-content {
    width: 85%;
    margin-top: 30px;
    margin-bottom: 20px;
    border-right: 1px solid #00DAE8;
    border-left: 1px solid #00DAE8;
    padding: 10px;
    background: #02041E;
    color: #fff;
    overflow-x: hidden;
    text-align: start;
    font-size: 20px;
}
.blog-content p a {
    color: #00DAE8;
}
.blog-content img {
    max-width: 80%;
    height: auto;
    align-self: center;
}
pre {
    white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
    white-space: -pre-wrap; /* Opera */
    white-space: -o-pre-wrap; /* Opera */
    white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
    word-wrap: break-word; /* IE 5.5+ */
}
.ql-syntax {
    text-align: start;
    padding: 10px;
} 
.ql-syntax p {
    width: 90%;
}
.ql-align-justify img {
    width: 80%;
}
#rwow {
    color: #00DAE8;
    font-style: italic; 
    margin: 30px 0;  
} 
#rwow button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    text-decoration: underline;
}
.bimage {
    overflow: hidden;
    width: 100%;
    min-height: 200px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-bottom: 1px solid #00DAE8;
    background-size: 100px 100px;

}
.bimage img {
    width: 100%;
}
.date {
    font-size: 12px;
    text-align: start;
    width: 75%;
    margin-top: 15px;
    color: rgb(108, 108, 108);
}
.comments-container {
    border-left: 1px solid #00DAE8;
    border-right: 1px solid #00DAE8;
    width: 90%;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.comments {
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    width: 100%;
    max-height: 400px;
    
}
.comment {
    margin: 10px 20px;
    padding: 10px;
    background: rgba(81, 91, 109, 0.531);
    color: #fff;
    border-radius: 8px;
    width: 80%;
    align-self: center;
}

.comment:nth-child(1) {
    display: none;
}
 u {
    width: 100%;
    text-align: center;
    align-self: center; 
    font-size: 23px;
    font-style: italic;
    margin-bottom: 20px;
}
.com-name {
    font-style: italic;
    font-weight: 700;
    font-size: 12px;
    width: 100%;
    text-align: start;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.com-name img{
    width: 33px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
    border: 1px solid #00d9e892;
}
.com-content {
    margin-top: 20px;
    width: 100%;
    font-size: 16px;
    text-align: start;
    overflow-x: hidden;
    max-height: 80px;
}
.com-date {
    font-size: 10px;
    font-weight: 200;
    color: #fff;
    margin-top: 20px;
}
.com-form {
    width: 80%;
    border-left: 1px solid #00DAE8;
    border-right: 1px solid #00DAE8;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: #000614;
}
.com-form form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.com-form input, .com-form textarea {
    width: 90%;
    font-size: 16px;
    outline: none;
}
.com-form form p {
    width: 100%;
    text-align: start;
}
.com-form input {
    height: 20px;
    border: none;
    border-bottom: 0.1px solid #fff;
    background: #02041E;
    color: #fff;
    padding: 5px;
}
.com-form textarea {
    height: 100px;
    background: #000614;
    color: #fff;
}
.com-form form button {
    padding: 5px;
    background: #00DAE8;
    font-size: 15px;
    font-weight: 500;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .8s;
    cursor: pointer;
    margin-bottom: 20px;
}
.com-form form button:hover {
    background: #00b900;
    color: #000;
}